@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

body {
  @apply text-[#FAFAFA] min-h-screen;
  font-family: "Satoshi", sans-serif;
  font-optical-sizing: auto;
  background: radial-gradient(
      ellipse 80% 60% at 50% 0%,
      rgba(226, 232, 240, 0.15),
      transparent 70%
    ),
    #000000;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
}

.fade-mask {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}
